
/* 
 * This file is reserved for your global style rules. 
 */

html {
    font-family: sans-serif;
    color: #333;
    
    /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0; /* Remove default margin */
}
.Main {
    width:25%;
    min-width:20rem;
    padding: 1em;
    text-align: center;
    margin:1rem auto 0 auto;
    border:1px solid silveR;
}

.Task {
    padding: .5em;
    text-align: center;
}
.loading{
    width:25%;
    min-width:20rem;
    padding: 1em;
    text-align: center;
    margin:1rem auto 0 auto;
    border:1px solid silveR;
    background:silver;
}